<body>
<div id="nav">
	<% [["Home", :root], ["Projects", :pages_projects]].each do |name,url| %>
    <li><%= link_to_unless_current(name, url) %></li>
  <% end %>
</div>
<div id="header">
	<img alt="Ruby" src="/assets/ruby.png" style="float:left"/> <h1>Truly Ruby</h1>
</div>
<div id="wrapper">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>
</body>