<body>
<div id="header">
	<img alt="Ruby" src="/assets/ruby.gif" style="float:left"/> <h1>Truly Ruby</h1>
</div>
<div id="wrapper">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>
</body>