<body>
<div id="nav">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Projects', pages_projects_path, :class => current_class?(pages_projects_path) %>
</div>
<div id="header">
	<img alt="Ruby" src="/assets/ruby.png" style="float:left"/> <h1>Truly Ruby</h1>
</div>
<div id="wrapper">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>
</body>